

    
    <div class="jumbotron">
        <h1>Welcome to Foodies Connect</h1>
        <p class="lead">Find other foodies who share the same love of food. Instant home-cooked meals access!</p>
        <p class="lead">Want to be a Chef?</p>
        <a class="btn btn-large btn-success" href="/chefs/new">Sign up to be a chef today!</a>
        <p></p>
        <p class="lead">Or are you hungry? Click below to see the monthly meals!</p>
        <a class="btn btn-large btn-success" href="/meals">Food Calendar</a>
      </div>






