<ul class="breadcrumbs">
  <li><a href="#m">Home</a></li>
  <li><a href="/chefs">Sign-Up</a></li>
  <li>><a href="http://www.linkedin.com/pub/connie-wu/27/774/3b6/">Connie's LinkedIn</a></li>
  <li class="Recipes"><a href="/culinaries">Art</a></li>
</ul>


<h1>Welcome </h1>

<h1>Connie's Page</h1>

<div class="row">
  <div class="six columns">
    <div class="panel">
      <h5>This is the link to the Chef form</h5>
      <p>
	<a href="hw01.herokuapp.com/chefs">Chef Form</a> 
	</p>
    </div>
  </div>
  <div class="six columns">
    <div class="panel callout radius">
      <h5>This is a funny picture</h5>
      <p>
	<img src="https://i.chzbgr.com/maxW500/6126953216/h2B68F944/" alt="LOLcat" />
	</p>
    </div>
  </div>
</div>


