<h1>About Foodie Connect</h1>

<div class="container">

      <h1>How Does it Work?</h1>
      <p>If you are a Foodie this is perfect for you! Whether you like to cook or like to eat you'll find many ways to satisfy your appetite<br> If you like to cook, sign up to be a chef on the home page. If you like to eat check out the calendar and create a meal with a chef!</p>

    </div> <!-- /container -->
